{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "env": { "node": true },
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ], 
    "parserOptions": {
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "rules": {
      "no-unused-vars": "off",
      "@typescript-eslint/no-unused-vars": "error",
      "no-console": ["error", { "allow": ["error"] }],
      "@typescript-eslint/no-floating-promises": "error",
      "@typescript-eslint/no-misused-promises": "error",
      "@typescript-eslint/no-empty-function": "off"
    },
    "overrides": [
      {
        "files": ["*.js"],
        "parser": "espree",
        "env": {
          "node": true,
          "es6": true
        },
        "parserOptions": {
          "ecmaVersion": 2020,
          "sourceType": "module"
        },
        "rules": {
          "@typescript-eslint/no-floating-promises": "off",
          "@typescript-eslint/no-misused-promises": "off",
          "@typescript-eslint/no-unused-vars": "off",
          "@typescript-eslint/no-var-requires": "off",
          "no-unused-vars": ["error", { "args": "none" }]
        }
      }
    ]
  }